.nav {
  grid-area: n;
  background-color: hsl(61, 100%, 50%);
  padding: 20px;

}

.item a {
  color: rgb(6, 10, 243);
  text-decoration: none;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}

.item a.activeLink {
  color: black;
}

.item {
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}