.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: fit-content;
}

.header {
  grid-area: h;
  background-color: greenyellow;
}
.header img {
  width: 70px;
}

.nav {
  grid-area: n;
  background-color: greenyellow;
}

.profile {
  grid-area: c;
  background-color: bisque;
}
