.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
   
}

.dialog a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.messages {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(144, 246, 144);
    padding: 1.75px;
}